.myCol{
    color: #fff;
    text-shadow: -1px -1px 5px #000;
    border-radius: 10px;
    border: 2px solid black;
    background: #fff5;
}

.myCol-none{
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 25px;
    /* background: #0002; */
}

