.myCol-header{    
    background: #aaa;
    border: 2px solid black
}

.myCol-search{    
    background: #aaa;
    border: 2px solid black
}

.myCol-results{    
    background: #aaa;
    border: 2px solid black
}